.slider-image-box{
  /*width: 90%;*/
  text-align: center;
}

.silder-container-width{
  width: 90%;
}

.product-header-header{
  margin: 0.1rem 0;
}

#tab4 .content-block img{
  width: 100%; !importment
}